* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --margin-inline: 30px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "VT323", monospace;
  background-color: #093f5e;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 3rem; */
}
.right {
  margin: 1rem;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.info-panel {
  background-color: #75afdb;
  font-size: 2rem;

  padding: 2rem;
  width: 33ch;

  display: flex;
  flex-direction: column;

  border-radius: 1rem;
}

.info-panel button {
  background-color: #093f5e;
  border: none;
  color: white;
  font: inherit;
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.info-panel button:last-of-type {
  margin-right: 0;
}

.info-display-center {
  text-align: center;
}

.info-display-between {
  display: flex;
  justify-content: space-between;
}

#level-display {
  margin-bottom: 2rem;
}

.btns {
  margin-top: 6rem;
}

.help {
  margin-top: 3rem;
}

.controls {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

canvas {
  border: 1px solid black;
  max-height: 90vh;

  margin: 3rem;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}
